export('mcmc.SCR')
export('mcmc.2side')
export('mcmc.2sideRcpp')
export('SCRmcmc')
export('SCRmcmcRcpp')
export('sim2side')
export('sim2sidetf')
export('simSCR')
export('simSCRtf')
export('sim2side.plot')
export('MCMC1')
export('MCMC2side')
export('MCMCtf2')
export('pID')
export('e2dist')
export('build.data')
export('inout')
export('inoutCpp')
export('simSCR2DNA')
export('SCR2DNAmcmc')
export('SCR2DNAPPcheck')
export('SCRPPcheck')
export('SCR2DNAMbmcmc')
export('mcmc.CatSPIM')
export('simCatSPIM')
export('sim.conCatSMR')
export('sim.conCatSMR.df')
export('mcmc.conCatSMR')
export('mcmc.conCatSMR.df')
export('mcmc.conCatSMR.natural')
export('sim.genCatSMR')
export('sim.genCatSMR.df')
export('sim.genCatSMR.move')
export('mcmc.genCatSMR')
export('mcmc.genCatSMR.df')
export('mcmc.genCatSMR.move')
export('intlikRcpp')
export('findPossible2D')
export('arma_setdiff')
export('HazACup')
export('indLL')
export('siteup')
export('calcllyevent')
export('calcllyevent2D')
export('occDepUp')
export('occDepUpMbradius')
export('occDepUpMb4Dradius')
export('occDepUpRadius')
export('typeCount')
export('typeCountSamptype')
importFrom(Rcpp, evalCpp)
useDynLib(SPIM)
