export('mcmc.2side.SCRIPP')
export('mcmc.2side.SCRIPP.Rcpp')
export('mcmc.SCR')
export('mcmc.2side')
export('mcmc.2side.ind')
export('SCRmcmc')
export('SCRmcmcRcpp')
export('SCRmcmctf')
export('SCRmcmctfRcpp')
export('sim2side')
export('sim2sidetf')
export('simSCR')
export('simSCRtf')
export('sim2side.plot')
export('MCMC1')
export('MCMC1b')
export('MCMC2')
export('MCMC1tf')
export('MCMC')
export('MCMCtf')
export('MCMCInd2')
export('MCMCInd3')
export('MCMCtf2')
export('pID')
export('build.data')
export('simSCRIPP')
export('mcmc.SCRIPP')
export('sim2sideSCRIPP')
export('inout')
export('simOpenSCR')
export('simSCR2DNA')
export('SCR2DNAmcmc')
export('SCR2DNAMbmcmc')
importFrom(Rcpp, evalCpp)
useDynLib(SPIM)
