export('mcmc.2side.SCRIPP')
export('mcmc.2side.SCRIPP.Rcpp')
export('mcmc.SCR')
export('mcmc.2side')
export('mcmc.2sideRcpp')
export('mcmc.2side.ind')
export('SCRmcmc')
export('SCRmcmcRcpp')
export('sim2side')
export('sim2sidetf')
export('simSCR')
export('simSCRtf')
export('sim2side.plot')
export('MCMC1')
export('MCMC1b')
export('MCMC2')
export('MCMC2side')
export('MCMCInd2')
export('MCMCInd3')
export('MCMCtf2')
export('pID')
export('e2dist')
export('build.data')
export('simSCRIPP')
export('mcmc.SCRIPP')
export('sim2sideSCRIPP')
export('inout')
export('simSCR2DNA')
export('SCR2DNAmcmc')
export('SCR2DNAPPcheck')
export('SCRPPcheck')
export('SCR2DNAMbmcmc')
export("LRmatchOpen")
export("SCRmcmcOpenSPIM")
export("SCRmcmcOpenSPIMRcpp")
export('simOpenSPIM')
export('mcmc_Open_SPIM')
export('simgenSPIM')
export('mcmc.CatSPIM')
export('simCatSPIM')
export('sim.conCatSMR')
export('sim.conCatSMR.df')
export('mcmc.conCatSMR')
export('mcmc.conCatSMR.df')
export('mcmc.conCatSMR.natural')
importFrom(Rcpp, evalCpp)
useDynLib(SPIM)
